/* VARIABLES */

:root {
  --font-size-m: 16px;
  --font-size-l: 20px;

  --max-message-width: 35%;
}

@media screen and (width <= 1300px) {
  :root {
    --max-message-width: 40%;
  }
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

/* PRESET */

.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.content > div {
  height: 100%;
}

/* SIDE BAR */

.sidebar {
  background-color: #787878;

  width: 60px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;

  padding-top: 5px;
}

.burger-menu {
  background-color: #d9d9d9;

  width: 30px;
  height: 30px;
}

/* CHAT LIST */

@supports (scrollbar-color: auto) {
  .chat-list {
    scrollbar-color: #d9d9d9 #787878;
  }
}

@supports selector(::-webkit-scrollbar) {
  .chat-list::-webkit-scrollbar {
    background: #d9d9d9;
  }
  .chat-list::-webkit-scrollbar-thumb {
    background: #787878;
  }
}

.chat-list {
  position: relative;

  background-color: #c9c9c9;

  width: 429px;

  flex-shrink: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  row-gap: 5px;

  padding-top: 5px;

  overflow-y: scroll;
}

.search-bar {
  background-color: #ababab;

  width: 409px;
  height: 30px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-shrink: 0;

  padding-right: 3px;
}

.chat-list .search-icon {
  background-color: #d9d9d9;

  width: 24px;
  height: 24px;
}

.chat-item {
  background-color: #d9d9d9;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  column-gap: 10px;
  flex-shrink: 0;

  padding-left: 10px;

  cursor: pointer;
}

.user-avatar {
  background-color: #5b5757;

  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.chat-item .username {
  font-size: var(--font-size-m);
}

.add-chat {
  position: fixed;
  z-index: 1;
  bottom: 10px;
  left: 420px;

  background-color: #787878;

  width: 50px;
  height: 50px;
}

/* CHAT ZONE */

.chat-zone {
  background-color: #e7e7e7;

  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  row-gap: 5px;
}

/* CHAT HEAD */

.chat-head {
  position: relative;

  background-color: #828282;

  width: 100%;
  height: 40px;

  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chat-head .search-icon {
  position: absolute;
  top: 10px;
  right: 10px;

  background-color: #d9d9d9;

  width: 20px;
  height: 20px;
}

.chat-head .username {
  font-size: var(--font-size-l);
  cursor: default;
}

/* MESSAGES AREA */

.chat-messages {
  position: relative;

  height: calc(100% - 40px - 50px - 10px);

  flex-grow: 1;
  flex-shrink: 0;
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: min-content;
  row-gap: 5px;

  padding-inline: 30px;

  overflow-y: scroll;
}

.message {
  max-width: var(--max-message-width);

  border-radius: 20px;

  font-size: var(--font-size-m);
  padding: 7px 13px;
}

.message-text {
  color: white;
}

.received {
  position: relative;
  background-color: #5b5757;

  border-bottom-left-radius: 0px;

  justify-self: left;
}

.received::before {
  content: "";

  position: absolute;
  z-index: 1;
  bottom: 0;
  left: -10px;

  background-color: #e7e7e7;

  display: block;

  width: 10px;
  height: 10px;
  border-bottom-right-radius: 10px;
}

.received::after {
  content: "";

  position: absolute;
  bottom: 0;
  left: -10px;

  background-color: #5b5757;

  display: block;

  width: 10px;
  height: 10px;
}

.sent {
  position: relative;

  background-color: #818181;

  border-bottom-right-radius: 0px;

  justify-self: right;
}

.sent::before {
  content: "";

  position: absolute;
  z-index: 1;
  bottom: 0;
  right: -10px;

  background-color: #e7e7e7;

  display: block;

  width: 10px;
  height: 10px;
  border-bottom-left-radius: 10px;
}

.sent::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: -10px;

  background-color: #818181;

  display: block;

  width: 10px;
  height: 10px;
}

/* COMPOSING MESSAGE AREA */

.composing-area {
  background-color: #818181;

  width: 100%;
  height: 50px;

  flex-shrink: 0;
  display: flex;
  align-items: center;
  column-gap: 5px;

  padding-inline: 5px;
}

.emoji-button,
.send-button,
.clip-icon {
  background-color: #d9d9d9;

  width: 30px;
  height: 30px;
}

.message-bar {
  background-color: #787878;
  color: white;

  height: 30px;
  flex-grow: 1;

  padding-left: 3px;
  font-size: var(--font-size-m);
}
