/* VARIABLES */

:root {
  --font-size-m: 16px;
  --font-size-l: 20px;
  --max-message-width: 35%;
}

@media screen and (width <= 1300px) {
  :root {
    --max-message-width: 40%;
  }
}

/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  overflow-y: hidden;
}

button {
  border: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

/* PRESET */

.content {
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
