.Sidebar {
  background-color: #787878;
  width: 60px;
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  padding-top: 5px;
}

.BurgerMenu {
  background-color: #d9d9d9;
  width: 30px;
  height: 30px;
}
