.ErrorFallback {
  background-color: #1a1a1a;
  padding: 30px 20px;
  border-radius: 10px;
  width: 600px;
  min-height: 300px;
  margin-inline: auto;
  margin-top: calc(40vh - 150px);
  color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    margin-bottom: 30px;
  }

  p {
    margin-bottom: 10px;
  }

  button {
    padding: 10px 5px;
    border-radius: 5px;
    width: 100px;
  }

  pre {
    margin-top: 10px;
  }
}
